.canvas_container {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 200px 200px #00000073;

    .canvas_container {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

}