@use './colors.scss' as colors;

.projects_list_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    .project_card {
        animation: intoView both;
        // animation-timeline: view(5% 5%);
        animation-timeline: view(auto auto);
        width: 33.333%;
    }
}

.project_card {
    .caps .title {
        color: colors.$text;

        span {
            color: colors.$primary;
            display: block;
            font-size: 0.75rem;
            margin-bottom: 0.235rem;
        }
    }

    .caps .des {
        color: colors.$text;
        opacity: 0.75;
    }

    .caps ul {
        opacity: 0.75;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        list-style-type: square;
        color: colors.$primary;
        column-gap: 1rem;
    }

    .caps ul li {
        margin-bottom: 0.5rem;
        margin-left: 15px;

        small {
            color: colors.$text;
            font-size: 0.75rem;
        }
    }

    .caps button {
        background-color: transparent;
        border: 0;
        color: colors.$primary;
    }

}

.project_card {
    padding: 10px;

    .inner {
        transition: 0.4s all ease-in-out;
        height: 100%;
    }

    a {
        color: colors.$primary;
    }

    .caps {
        padding: 20px 15px;

        .des {
            font-size: 0.7rem;
        }

        button {
            margin-left: auto;
            display: block;
        }
    }
}

.img_transition {
    position: relative;
    transition: 0.2s all ease-in-out;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: colors.$primary;
        opacity: 0.3;
        z-index: 5;
        transition: 0.3s all ease-in-out;
    }

    img {
        filter: grayscale(100%);
        transition: 0.2s all ease-in-out;
    }

    &:hover {
        &::before {
            height: 0;
            opacity: 0.1;
        }

        img {
            filter: grayscale(0);
        }
    }
}

@keyframes intoView {

    0% {
        transform: translateY(100px) scale(1);
        opacity: 0;
    }

    35%,
    65% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }

}